#container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    height: 800px;
    width: 100%;
}

#left{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    background: #FAFAFA;
    
}
#phone{
    width: 37%;
    height: 600px;
    background: blue;
    margin-right: 30px;
}

#form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    background: #FAFAFA;
}

#divform{
    width: 37%;
    height: 600px;
    background: white;
    margin-left: 20px;
    border: 1px solid #ccc;
    
}

#uno{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    background: #FFFFFF;
    
}
#uno img{
    margin-top: 40px;
}
#uno hr {
    width: 220px;
    height: 1px;
    border: 0;
    background-color: #CCC;
    margin-top: 20px;
}
.redondeado{
    border-radius: 2px;
    height: 30px;
    width: 250px;
    background: #E8F0FE;
    margin-top: 5px;
    border: 2px solid #ccc;
}
.login{
    background: #0095F6;
    width: 255px;
    height: 30px;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

::placeholder { 
    color: grey;
    font-size: 10px;
    
 }
#dos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background: #FFFFFF;
}
.facebook{
    color: #4267B2;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.forgot{
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
    color: #00376b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#dos .facebook:hover, #dos .forgot:hover{
    cursor: pointer;
}

#tres{
    width: 100%;
    height: 15%;
    background: green;
}
#cuatro{
    width: 100%;
    height: 20%;
    background: lightblue;
}

#footer{
    width: 100%;
    height: 150px;
    background: black;
    color: white;
}